
.dropbtn {
	background-color: #4caf4f00;
	color: white;
	padding: 2px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	line-height: 0.9;
	white-space: pre;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	top: 100px;
	left: 20px;
	background-color: #f9f9f900;
	min-width: 20px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	z-index: 2;
	display: flex;
	flex-direction: row;
  }
  
  /* Style the dropdown links */
  .dropdown-content a {
	display: block;
	padding: 8px 12px;
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	animation: fallDropdownItem 0.5s forwards;
  }
  
  .dropdown-content a:hover {
	background-color: #dddddd00;
  }
  
  .dropbtn2 {
	background-color: #4caf4f00;
	color: white;
	bottom: 100px;
	position:absolute;
	padding: 2px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	line-height: 0.9;
	white-space: pre;
  }
  
  .dropdown-content2 {
	display: none;
	position: absolute;
	bottom: 120px;
	left: 20px;
	background-color: #f9f9f900;
	min-width: 20px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	z-index: 2;
	display: flex;
	flex-direction: row;
  }
  
  .dropdown-content2 a {
	display: block;
	padding: 8px 12px;
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	animation: fallDropdownItem 0.5s forwards;
  }
  
  .dropdown-content2 a:hover {
	background-color: #dddddd00;
  }