/* Set background image for the body */
body {
	background-image: url("../resources/images/space.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

h1 {
	color: #0066cc;
	font-size: 36px;
	text-align: center;
	margin-top: 30px;
}

h2 {
	color: #333;
	font-size: 24px;
	margin-bottom: 10px;
}

p {
	color: #000000;
	font-size: 16px;
}

/* Header Styles */
header {
	text-align: center;
	padding: 20px;
	background-color: #f2f2f2;
}

header img {
	max-width: 200px;
}

/* Footer Styles */
footer {
	text-align: center;
	padding: 10px;
	background-color: #16141424;
	color: #ffffff;
	margin-top: auto;
}