/* Navbar Styles */
nav {
	background-color: #0f0f106d;
	padding: 10px;
}

nav a {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

nav a:hover {
	background-color: #004080;
}

/* Sections Styles */
section {
	padding: 20px;
}

ul,
ol {
	margin-left: 30px;
}

.navbar-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
}

.about-me {
	width: 120px;
	height: 25px;
	border: none;
	background-image: url("../resources/images/button.jpeg");
	background-size: cover;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	border-radius: 10% / 50%;
	position: relative;
	overflow: hidden;
	transition: top 0.4s ease-in-out;
}

/* Keyframes for the button fall animation */
@keyframes fall {
	0% {
		top: 0;
		transform: rotate(0deg);
	}

	75% {
		top: calc(69vh - 30px);
		transform: rotate(30deg);
	}
	
	100% {
		top: calc(69vh - 30px);
		left: calc(-1vw);
		transform: rotate(30deg);
	}
}

.contact-me {
	width: 120px;
	height: 25px;
	border: none;
	background-image: url("../resources/images/button.jpeg");
	background-size: cover;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	border-radius: 10% / 50%;
	position: relative;
	overflow: hidden;
	transition: top 0.4s ease-in-out;
}

/* Keyframes for the button fall animation */
@keyframes fallCM {
	0% {
		top: 0;
		transform: rotate(0deg);
	}

	75% {
		top: calc(69vh - 30px);
		transform: rotate(-35deg);
	}

	100% {
		top: calc(69vh - 30px);
		transform: rotate(-35deg);
		left: calc(-2vw);
	}
}

.projects {
	width: 120px;
	height: 25px;
	border: none;
	background-image: url("../resources/images/button.jpeg");
	background-size: cover;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	border-radius: 10% / 50%;
	position: relative;
	overflow: hidden;
	transition: top 0.02s linear;
}

/* Keyframes for the button fall animation */
@keyframes fallP {
	0% {
		top: 0;
		transform: rotate(0deg);
	}

	100% {
		top: calc(65vh - 23px);
		left: calc(1.5vw);
		transform: rotate(-4deg);
	}
}

.element-to-animate {
	animation-name: fallP;
	animation-duration: 1s;
  }

.black-text {
	color: rgb(235, 41, 41);
	font-weight: bold;
}
